html,body{
    width:100%;
    height:100%;
    background:#f4f4f4;
}
#header{
    width:1200px;
    height:40px;
    line-height:40px;
    margin:30px auto;
    background:pink;
    box-sizing:border-box;
    padding:0 10px;
    font-size:16px;
}
#header span{
    color:white;
    margin-right:10px;
}
#header a{
    color:white;
    margin-right:15px;
    position:relative;
}
#header a:hover{
    color:red;
}
#header a i{
    width:0;
    height:0;
    border:4px solid transparent;
    position:absolute;
}
#header a i.up{
    border-bottom-color:white;
    top:3px;
}
#header a i.down{
    border-top-color:white;
    top:13px;
}
#header a i.up.bg{
    border-bottom-color:red;
}
#header a i.down.bg{
    border-top-color:red;
}
#cardBox{
    width:1200px;
    margin:30px auto;
    display:flex;
    flex-wrap:wrap;
}
#cardBox li{
    width:24%;
    margin:0 .5% 10px .5%;
    box-sizing:border-box;
    background:white;
}
#cardBox li img{
    display:block;
    width:100%;
}
#cardBox li span{
    display:block;
    height:25px;
    line-height:25px;
    padding-left:30px;
    font-size:14px;
    color:red;
}